.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 250px);
	grid-template-rows: repeat(2, 250px);
}
.red {
	background-color: red;
	grid-row: 1/2;
}
.green {
	background-color: green;
	grid-row: 2/3;
}
.blue {
	background-color: blue;
	grid-row: 1/3;
}