.container {
	width: 990px;
	margin: 0 auto;
}
ul 	{
	padding-left: 0;

}
li {
	list-style-type: none;
	font-size: 20px;
	cursor: pointer;
}
.repoList {
	position: relative;
	padding: 25px;
	background-color: #e7bbbb;
	display: flex;
	border: 1px solid black;
	margin-bottom: 5px;
}
.repoList li {
	width: 330px;
	display: flex;
	justify-content: center;
}
.repoList span {
	position: absolute;
	right: 20px;
	width: 30px;
}